@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive');


* {
    margin: auto;
    padding: 0;
    border: 0;
    list-style: none;


}

html {
/*    background-image: url(../images/background.jpg);*/
    background-position: center;
    background-size: cover;
    background-repeat: repeat;

    height: 100vh;
    width: 100vw;

}

body {
    font-family: 'Montserrat', sans-serif;
    /*    background: rgb(48, 48, 48);*/


    /* <------ */
    height: 130px;
    /*    margin-top: -4px;*/
    width: 100%;
}

header {
    text-align: center;
    /*    background: #111111;*/
    width: 100%;
    display: table-cell;
    text-align: center;
    vertical-align: middle;

}

.sub {
    font-size: 150%;
}

#subheader {
    font-family: 'Lora', serif;
    font-size: 70%;
    font-weight: lighter;
    color: #ffe4c9;
    background: #b52d38;
    border: 2px solid #ffe4c9;
    width: 100%;

}

#mobilemenu {
    background: rgb(48, 48, 48);

}

#subheader a:hover {
    border-bottom: 4px solid white;
}

#subheader a {
    color: inherit;
    text-decoration: none;
    display: inline-flex;
    text-align: center;
    align-content: center;
    margin: 20px 20px 20px 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-left: 3.2vw;
    padding-right: 4vw;
}

#subheader i {
    text-align: center;
    width: 100%;
    font-size: 100%;
    margin: 10px 0px 10px -6px;
}


#title {

    background: rgb(48, 48, 48);
    display: flex;
    width: 100vw;
    font-family: 'Cedarville Cursive', cursive;
    font-weight: 100;
    font-size: 225%;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    /*
        background-image: url(header.jpg);
    background-size: cover;
     <------ 
    background-repeat: no-repeat;
    background-position: center 30%;
*/
    height: 130px;
    background: rgb(48, 48, 48);
    /*    background: url(../images/b.jpg);*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 0%;
}



#title h1 {
    font-weight: lighter;
    background: #ff0000 -webkit-gradient(linear, left top, right top, from(#496941), to(#496941), color-stop(0.5, #288008)) 0 0 no-repeat;
    -webkit-background-size: 150px;
    color: rgba(255, 255, 255, 0);
    -webkit-background-clip: text;
    -webkit-animation-name: shine;
    -webkit-animation-duration: 6s;
    -webkit-animation-iteration-count: infinite;
    text-shadow: 0 0px 0px rgba(255, 255, 255, 0.5);
}

@-webkit-keyframes shine {

    0%,
    10% {
        background-position: -50px;
    }

    20% {
        background-position: top left;
    }

    90% {
        background-position: top right;
    }

    100% {
        background-position: 650px;
    }
}


.menubar {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding: 0;
    margin-top: 0;
    display: inline-block;
    padding-bottom: 8vh;
        background: rgb(48, 48, 48);


}

.menubar li {

    padding: 10px;
    padding-right: 4vw;
    /*    margin-right: 10vw;*/
    padding-left: 4vw;
    text-align: center;
    display: inline;
    cursor: pointer;
    position: relative;
    font-weight: 600;
    /*
    border: 1px solid #fccccc;
    border-radius: 10px;
*/


}

.menubar li a {
    color: white;
    font-weight: lighter;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;

}

.menubar li:hover {
    transition: 0.3s;
    background: #353847;
}

.slicknav_menu {
    display: none;
}
.footer {
    color: white;
    width: 100%;
    background-color: #022b3a;
    min-height: 250px;
    padding: 10px 0px 25px 0px;
    text-align: center;
}

.pt2 {
    padding-top: 40px;
    margin-bottom: 20px;
}

.footer p {
    font-size: 13px;
    color: #CCC;
    padding-bottom: 0px;
    margin-bottom: 8px;
}

.mb10 {
    padding-bottom: 15px;
}

.footer_ul_amrc {
    margin: 0px;
    list-style-type: none;
    font-size: 14px;
    padding: 0px 0px 10px 0px;
}

.footer_ul_amrc li {
    padding: 0px 0px 5px 0px;
}

.footer_ul_amrc li a {
    color: #CCC;
}

.footer_ul_amrc li a:hover {
    color: #fff;
    text-decoration: none;
}


.padding-right {
    padding-right: 10px;
}

.footer_ul2_amrc {
    margin: 0px;
    list-style-type: none;
    padding: 0px;
}

.footer_ul2_amrc li p {
    display: table;
}

.footer_ul2_amrc li a:hover {
    text-decoration: none;
}

.footer_ul2_amrc li i {
    margin-top: 5px;
}

.bottom_border {
    border-bottom: 1px solid #323f45;
    padding-bottom: 20px;
}

.foote_bottom_ul_amrc {
    list-style-type: none;
    padding: 0px;
    display: table;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
}

.foote_bottom_ul_amrc li {
    display: inline;
}

.foote_bottom_ul_amrc li a {
    color: #999;
    margin: 0 12px;
}

.social_footer_ul {
    display: table;
    margin: 15px auto 0 auto;
    list-style-type: none;
}

.social_footer_ul li {
    padding-left: 20px;
    padding-top: 10px;
    float: left;
}

.social_footer_ul li a {
    color: #CCC;
    border: 1px solid #CCC;
    padding: 8px;
    border-radius: 50%;
}

.social_footer_ul li i {
    width: 20px;
    height: 20px;
    text-align: center;
}

.col-sm-4 {
    display: inline-block;
    width: 100%;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 490px) {

    /* Styles */
    html {}

    .powr-mailing-list {
        display: none;
    }

    #title {
        font-size: 20px;
        display: flex;
    }

    #subheader {
        font-size: 60%;
    }

    #sports {
        display: none;
    }

    .slicknav_menu {
        text-align: center;
        display: block;
        width: 100%;
    }

    #nav_menu {
        display: none;
    }

    #banner_shop {
        width: 100vw;
    }

    #banner_bogo {
        width: 100vw;
    }

}


/* Smartphones (landscape) ----------- */
@media only screen and (max-width : 893px) and (orientation: landscape) {

    /* Styles */
    html {

        width: 100vw;
    }

    #sports {
        display: none;
    }

    .powr-mailing-list {
        display: none;
    }

    #banner_shop {
        width: 100vw;
    }

    #banner_bogo {
        width: 100vw;
        font-size: 75%;
    }

    #subheader a {
        font-size: 80%;
    }

    .menubar {
        display: none;
    }

    .slicknav_menu {
        display: block;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 768px) and (orientation: portrait) {

    /* Styles */
    html {}

    .powr-mailing-list {
        display: none;
    }

    #title {
        font-size: 20px;
    }

    #subheader {
        font-size: 40%;
    }

    #subheader a {
        margin: 7px;
    }

    #sports {
        display: none;
    }

    .slicknav_menu {
        text-align: center;
        display: block;
        width: 100%;
    }

    #nav_menu {
        display: none;
    }

    #banner_shop {
        width: 100vw;
    }

    #banner_bogo {
        width: 100vw;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1025px) {

    /* Styles */

    #banner_shop {

        width: 100vw;
    }

    #banner_bogo {
        width: 100vw;
    }

    .menubar li {
        width: 2vw;
    }


}


/* iPads (landscape) ----------- */
@media only screen and (min-width : 824px) and (orientation : landscape) {

    /* Styles */

    #sports {
        display: block;
    }

    #banner {
        text-align: center;
    }

    .menubar {
        display: none;
    }

    .slicknav_menu {
        display: block;
    }

}


/* iPads (portrait) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1286px) and (orientation : portrait) {

    /* Styles */
    html {}

    #banner_bogo {
        margin-top: -280px;
    }

    .menubar {
        display: none;
    }

    .slicknav_menu {
        display: block;
    }

    #sports {
        display: block;
    }
}

/*
@media only screen and (min-width : 1024px) and (max-width : 1366px) and (orientation : portrait) {

    Styles #banner_bogo {
        margin-top: -500px;
    }
}


*/


@media only screen and (min-width: 320px) and (max-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {

    /* Styles */
    html {}

    #title {
        display: flex;
    }


}


/* iPhone 5 ----------- */
@media only screen and (min-width: 320px) and (max-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {



    #banner {
        font-size: 800%;
        text-align: center;
    }

    #title {
        display: flex;
    }
}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-width: 375px) and (max-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {

    /* Styles */
    html {}

    #nav_menu {
        display: none;
    }

    #mobilemenu {
        text-align: center;
    }

    .slicknav_menu {
        display: block;
    }

    #title {
        font-size: 24px;
    }

    #subheader {
        font-size: 40%;
    }

    #sports {
        display: none;
    }

    .powr-mailing-list {
        display: none;
    }
}


@media only screen and (min-width: 375px) and (max-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {

    /* Styles */
    #subheader {
        font-size: 70%;
    }

}


@media only screen and (min-width: 414px) and (max-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {

    /* Styles */
    .powr-mailing-list {
        display: none;
    }


}

/* iPhone X ----------- */
@media only screen and (min-width: 375px) and (max-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) {

    /* Styles */
    html {}

    .powr-mailing-list {
        display: none;
    }

    #sports {
        display: none;
    }

    #banner_shop {
        width: 100vw;
    }

    #banner_bogo {
        width: 100vw;
    }

    .menubar {
        display: none;
    }

    .slicknav_menu {
        display: block;
    }

}

@media only screen and (min-width: 375px) and (max-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) {

    /* Styles */
    #subheader {
        font-size: 50%;
    }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1287px) {

    #sports {
        display: inline-block;
    }

    .menubar {
        display: block;
    }

    .menubar li {
        width: 1vw;
    }


    #mobilemenu {
        height: 59px;
    }

    .slicknav_menu {
        display: none;
    }

    .slicknav_nav a {
        text-align: center;
        display: inline-block;
    }

    .slicknav_nav li {
        text-align: center;
    }

    #title {
        font-size: 40px;
        display: flex;
    }

    #subheader {
        font-size: 10px;
    }
}
