@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive');


* {
    margin: auto;
    padding: 0;
    border: 0;
    list-style: none;


}

html {
    background: rgb(48, 48, 48);
    background-image: url(images/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;

}

body {
    font-family: 'Montserrat', sans-serif;
    /*    background: rgb(48, 48, 48);*/


    /* <------ */
    height: 130px;
    /*    margin-top: -4px;*/
    width: 100%;
}

header {
    text-align: center;
    /*    background: #111111;*/
    width: 100%;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#subheader {
    font-family: 'Lora', serif;
    font-size: 70%;
    font-weight: lighter;
    color: white;
    /*    background: #303030;*/
    justify-content: center;

    /*    border-bottom: 2px solid white;*/
}

#subheader a:hover {
    border-bottom: 0.1px solid white;
}

#subheader a {
    color: inherit;
    text-decoration: none;
    display: inline-flex;
    text-align: center;
    align-content: center;
    margin: 20px 20px 0px 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#subheader i {
    text-align: center;
    width: 100%;
}


#title {
    width: 100vw;
    font-family: 'Cedarville Cursive', cursive;
    font-weight: 100;
    font-size: 225%;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    /*
        background-image: url(header.jpg);
    background-size: cover;
     <------ 
    background-repeat: no-repeat;
    background-position: center 30%;
*/
    height: 130px;
}



#title h1 {
    opacity: 0.5;
    font-weight: lighter;
    background: #222 -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
    -webkit-background-size: 150px;
    color: rgba(255, 255, 255, 0);
    -webkit-background-clip: text;
    -webkit-animation-name: shine;
    -webkit-animation-duration: 6s;
    -webkit-animation-iteration-count: infinite;
    text-shadow: 0 0px 0px rgba(255, 255, 255, 0.5);
}

@-webkit-keyframes shine {

    0%,
    10% {
        background-position: -100px;
    }

    20% {
        background-position: top left;
    }

    90% {
        background-position: top right;
    }

    100% {
        background-position: 700px;
    }
}

.menubar {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    /*    background: black;*/
    padding: 10px 0;
    margin-top: 0;
    /*    border-bottom: 5px solid white;*/
}

.menubar li {
    padding: 10px;
    margin-right: 50px;
    display: inline-block;
    cursor: pointer;
    position: relative;

    /*    border: 2px outset white;*/
    border-radius: 5px;

    font-weight: 600;
}

.menubar li a {
    color: white;
    font-weight: lighter;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
}

.menubar li:hover {
    background: #353847;
}



.menubar li:hover ul {
    display: block;
}

.menubar li ul li:hover {
    background: grey;
}

.slicknav_menu {
    display: none;
}

#banner {
    /*    background-image: url(christmas.jpg);*/
    background-size: cover;
    /* <------ */
    background-repeat: no-repeat;
    background-position: center 30%;
    height: 350px;
    margin-top: -4px;
}

#banner_bogo {
    color: white;
    font-weight: bold;
    line-height: 25px;
    padding-top: 50px;
    text-align: center;
}

#banner_shop {
    color: white;
    margin: 20px;
    padding-top: 10px;
    text-align: center;

}

.btn-main {
    padding: 16px 60px;
    cursor: pointer;
    position: relative;
    font-weight: 600;
    color: white;
    text-decoration: none;
    border: 1px solid white;

}

.btn-main:hover {
    background: grey;
}

#sports {
    display: inline-block;
    height: 80vh;
}

footer {
    position: absolute;
    bottom: -50vh;
    width: 100%;
    height: 100px;
    background: rgb(48, 48, 48);
    color: white;
    text-align: center;
}

@media only screen and (max-width: 1412px) and (min-width: 415px) {
    #banner {
        padding-top: 150px;
    }

    #banner_bogo {
        color: white;
        font-weight: bold;
        line-height: 25px;
        padding-left: 30px;
        padding-top: 50px;
        text-align: center;
    }

    #banner_shop {
        color: white;
        margin: 20px;
        padding-top: 10px;
        padding-left: 10px;
        text-align: center;

    }


    #sports {
        display: none;
    }

    #nav_menu {
        display: none;
    }

    #mobilemenu {
        height: 59px;
    }

    .slicknav_menu {
        text-align: left;
        display: block;
        float: left;
        width: 100%;
    }

    .slicknav_nav a {
        text-align: left;
        display: inline-block;
    }

    .slicknav_nav li {
        text-align: center;
    }

    #banner {
        margin-top: 0px;
    }

    #title {
        font-size: 26px;
    }

    #subheader {
        font-size: 10px;
    }
}


@media only screen and (max-width: 415px) and (min-width:351px) {

    html {
        background-image: url(images/header-rotated.jpg);
        background-size: contain;

    }

    #nav_menu {
        display: none;
    }

    #mobilemenu {
        text-align: left;
    }

    .slicknav_menu {
        display: block;
    }

    #title {
        font-size: 24px;
    }

    #subheader {
        font-size: 9px;
    }
    
    #sports {
        display: none;
    }
}

@media only screen and (max-width: 351px) and (min-width: 321px) {
    html {
        background-image: url(images/header-rotated.jpg);
        background-size: contain;

    }

    #title {
        font-size: 20px;
    }

    #subheader {
        font-size: 8px;
    }
     #sports {
        display: none;
    }
}

@media only screen and (max-width: 321px) {
    html {
        background-image: url(images/header-rotated.jpg);
        background-size: contain;

    }

    #title {
        font-size: 20px;
    }

    #subheader {
        font-size: 7px;
    }
     #sports {
        display: none;
    }
}